export("fars_read")
export("make_filename")
export("fars_read_years")
export("fars_summarize_years")
export("fars_map_state")

importFrom("dplyr","tbl_df","mutate","select","bind_rows","group_by","summarize")
importFrom("readr","read_csv")
importFrom("tidyr","spread")
importFrom("maps","map")
importFrom("graphics","points")
importFrom("magrittr", "%>%")
